@use "../styles/index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include light-theme;
}

body.dark-theme {
  @include dark-theme;
}

body {
  background: var(--primary-bg);
  color: var(--text-color);
  font-family: $font;
}

h1,
h2 {
  color: var(--heading-color);
}
