@use "../styles/variables" as *;

@mixin light-theme {
  --text-color: #{$lightText};
  --heading-color: #{$lightHeading};
  --primary-bg: #{$lightPrimaryBg};
  --secondary-bg: #{$lightSecondaryBg};
  --primary-accent: #{$lightPrimaryAccent};
}

@mixin dark-theme {
  --text-color: #{$darkText};
  --heading-color: #{$darkHeading};
  --primary-bg: #{$darkPrimaryBg};
  --secondary-bg: #{$darkSecondaryBg};
  --primary-accent: #{$darkPrimaryAccent};
}

@mixin heading-color {
  color: var(--heading-color);
}

@mixin text-color {
  color: var(--text-color);
}
