@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

// Light theme variables
$lightPrimaryAccent: #0084ff;
$lightPrimaryBg: #f2f2f2;
$lightSecondaryBg: darken(#f2f2f2, 8%);
$lightHeading: #333;
$lightText: #444;

// Dark theme variables
$darkPrimaryAccent: #168fff;
$darkPrimaryBg: #131415;
$darkSecondaryBg: lighten(#131415, 8%);
$darkHeading: darken(#fafafa, 10%);
$darkText: darken(#fafafa, 20%);

// Variables
$font: "Work Sans", sans-serif;
