<section class="intro-container">
  <div class="bio">
    <img
      [src]="profileImage.src"
      [alt]="profileImage.alt"
      class="profile-pic"
    />
    <div class="intro">
      <div class="heading">
        <h1 class="name">{{ introData.name }}</h1>
        <button class="toggle-theme" (click)="toggleTheme()">
          <fa-icon [icon]="faMoon" *ngIf="darkTheme; else lightTheme"></fa-icon>
          <ng-template #lightTheme>
            <fa-icon [icon]="faSun"></fa-icon>
          </ng-template>
        </button>
      </div>
      <div class="headline">{{ introData.headline }}</div>
      <div class="mail">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <span class="mail-id">{{ introData.mail }}</span>
        <button class="copy-icon" (click)="copyMail()" type="button">
          <fa-icon [icon]="faClipboard"></fa-icon>
        </button>
        <span class="copied-info" *ngIf="showInfo">
          {{ introData.copiedText }}
        </span>
      </div>
    </div>
  </div>
  <div class="links">
    <ng-container *ngFor="let links of socialLinks">
      <a [href]="links.link" target="_blank" class="link">
        <fa-icon [icon]="links.icon"></fa-icon>
        <span>{{ links.text }}</span>
      </a>
    </ng-container>
  </div>
</section>
