<section class="education-container">
  <ngb-accordion #accConf="ngbAccordion" activeIds="open-education">
    <ngb-panel id="open-education">
      <ng-template ngbPanelHeader>
        <button
          ngbPanelToggle
          class="accordion-button acc-btn"
          (click)="isExpanded()"
        >
          <h2 class="main-heading">{{ educationData.heading }}</h2>
          <button class="toggle">
            <fa-icon [icon]="faAngleUp" *ngIf="!isCollapsed"></fa-icon>
            <fa-icon [icon]="faAngleDown" *ngIf="isCollapsed"></fa-icon>
          </button>
        </button>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="education-data">
          <div *ngFor="let data of educationList" class="education">
            <div class="degree">
              <fa-icon [icon]="faGraduationCap"></fa-icon>
              <div>{{ data.degree }}</div>
            </div>
            <div class="date">{{ data.date }}</div>
            <div class="college">{{ data.college }}</div>
            <div class="university" *ngIf="data.university">
              {{ data.university }}
            </div>
            <div class="location">{{ data.location }}</div>
            <ul class="education-list">
              <li *ngFor="let point of data.points">
                <fa-icon [icon]="faCircle"></fa-icon>
                {{ point }}
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>
