<section class="work-container">
  <ngb-accordion #accConf="ngbAccordion" activeIds="open-work">
    <ngb-panel id="open-work">
      <ng-template ngbPanelHeader>
        <button
          ngbPanelToggle
          class="accordion-button acc-btn"
          (click)="isExpanded()"
        >
          <h2 class="main-heading">{{ workData.heading }}</h2>
          <button class="toggle">
            <fa-icon [icon]="faAngleUp" *ngIf="!isCollapsed"></fa-icon>
            <fa-icon [icon]="faAngleDown" *ngIf="isCollapsed"></fa-icon>
          </button>
        </button>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="work-data">
          <div *ngFor="let data of workList" class="work">
            <div class="role">
              <fa-icon [icon]="faCodeBranch"></fa-icon>
              <div>{{ data.role }}</div>
            </div>
            <div class="date">{{ data.date }}</div>
            <div class="company">{{ data.company }}</div>
            <div class="location">{{ data.location }}</div>
            <ul class="work-list">
              <li *ngFor="let work of data.works">
                <fa-icon [icon]="faCircle"></fa-icon>
                {{ work }}
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>
